# Ignore .env files
.env

# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Rider IDE files
.idea/
*.sln.iml

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore temporary files
*.tmp